# MySQL
MYSQL_ROOT_PASSWORD=pandora123
MYSQL_DATABASE=pandora

# Redis
REDIS_PASSWORD=pandora123

# Woodpecker
# 外部访问地址 (不带末尾的斜杠)
WOODPECKER_HOST=https://xxxx.xxxxx.con

# 随便生成一个复杂的字符串，Server 和 Agent 必须一致
WOODPECKER_AGENT_SECRET=04f6110a62310eec908b07e25f1e7622
# 新增这一行！给这台机器打上唯一的身份标签
WOODPECKER_AGENT_LABEL=test-aliyun-8-148

# 你的 GitHub 用户名 (登录后自动拥有管理员权限)
WOODPECKER_ADMIN=xxxxxxxx

# 刚才在 GitHub 申请到的 OAuth 凭证
WOODPECKER_GITHUB_CLIENT=xxxxxx
WOODPECKER_GITHUB_SECRET=9xxxxx

# DPanel
DPANEL_PORT=8807

# OpenResty Manager
OPENRESTY_MANAGER_PORT=8808
